.advantages {
  padding: 16px 0 42px 0;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  @include reset-list;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: $light-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin: 0;
  }

  &::after {
    content: "";
    display: block;
    background-color: $green;
    background-size: 50px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }

  &--leaf::after {
    background-image: url("../img/mobile/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }

  &--powder::after {
    background-image: url("../img/mobile/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/advantage-powder@2x.png");
    }
  }

  &--cutlery::after {
    background-image: url("../img/mobile/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/advantage-dining@2x.png");
    }
  }

  &--clock::after {
    background-image: url("../img/mobile/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/advantage-clock@2x.png");
    }
  }
}

/**** tablet ****/
@media (min-width: $tablet-width) {
  .advantages {
    padding: 0;
    padding-bottom: 56px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__wrapper {
    padding: 0 30px;
  }

  .advantages__title {
    font-size: 60px;
    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: myCounter;
    width: 708px;
    margin: 0 auto;
  }

  .advantages__item {
    display: block;
    width: 246px;
    min-height: 225px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 110px;
    margin-right: 138px;
    margin-bottom: 92px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: $bg-footer;
      position: absolute;
      top: -41px;
      right: 16px;
      z-index: -1;
    }

    &--leaf::before {
      right: 16px;
    }

    &--powder::before {
      right: 0;
    }

    &--cutlery::before {
      right: -1px;
    }

    &--clock::before {
      right: -3px;
    }

    &::after {
      width: 80px;
      height: 80px;
      left: 0;
      top: -1px;
    }
  }
}

/**** desktop ****/
@media (min-width: $desktop-width) {
  .advantages {
    padding: 28px 0 0 0;
    border-bottom: 0;
  }

  .advantages__wrapper {
    padding: 0 110px;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__list {
    width: auto;
  }

  .advantages__item {
    font-size: 16px;
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--leaf::before {
      right: 16px;
    }

    &--powder::before {
      right: 0;
    }

    &--cutlery::before {
      right: -2px;
    }

    &--clock::before {
      right: -4px;
    }
  }
}
