.control__label {
  position: relative;
  display: block;
  min-height: 30px;
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;

  &::after {
    transition: 0.2s;
  }
}

.control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:disabled {
    ~ .control__label {
      opacity: 0.3;

      &::before {
        border-color: $radio-border;
        opacity: 0.3;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }
}

.control--radio label {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $border-color;
  }
}

.control--radio:hover label::before {
  border-color: $radio-border;
}

.control--radio:active label::before,
.control--radio:focus label::before {
  border-color: #ebebeb;
}

.control__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.control__radio:checked:focus + label::after,
.control__radio:checked:active + label::after {
  background-color: #cfe8c1;
}

.control--checkbox label {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-color;
  }
}

.control--checkbox:hover label::before {
  border-color: $radio-border;
}

.control--checkbox:active label::before,
.control--checkbox:focus label::before {
  border-color: #ebebeb;
}

.control--checkbox:active label::after,
.control--checkbox:focus label::after {
  opacity: 0.3;
}

.control__checkbox:checked + label::after {
  top: 6px;
  left: 5px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .control__label {
    padding-left: 70px;

    &::after {
      transition: 0.2s;
    }
  }

  .control {
    &--radio {
      .control__label {
        font-size: 20px;
        line-height: 20px;
        padding-left: 88px;

        &::before {
          width: 40px;
          height: 40px;
          left: 27px;
        }
      }
    }

    .control__radio:checked + label::after {
      top: 10px;
      left: 38px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $green;
    }

    &--checkbox {
      .control__label {
        font-size: 20px;
        line-height: 20px;
        padding-left: 58px;

        &::before {
          width: 40px;
          height: 40px;
        }
      }
    }

    .control__checkbox:checked + label::after {
      top: 9px;
      left: 9px;
      width: 22px;
      height: 17px;
    }
  }
}
