.control {
  display: block;

  &:hover,
  &:focus {
    .control__label {
      &::before {
        border-color: #cdcdcd;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--radio {
    .control__label {
      &::before {
        border-radius: 50%;
      }

      &::after {
        top: 9px;
        left: 9px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $green;
      }
    }

    .control__input:checked {
      ~ .control__label{
        &::after {
          &:hover,
          &:focus {
            background-color: #68b738;
          }
        }
      }
    }
  }

  &--checkbox {
    .control__label {
      &::after {
        top: 5px;
        left: 5px;
        width: 22px;
        height: 17px;
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

.control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:disabled {
    ~ .control__label {
      opacity: 0.3;

      &::before {
        border-color: $radio-border;
        opacity: 0.3;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }
}

.control__label {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  min-height: 30px;
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: 0.2s;
  }

  &::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #e6e6e6;
    background-color: #ffffff;
  }

  &::after {
    opacity: 0;
  }
}

.control__input:checked {
  ~ .control__label{
    &::after {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .control {
    &--radio {
      .control__label {
        font-size: 20px;
        line-height: 20px;
        padding-left: 60px;

        &::after {
          width: 18px;
          height: 18px;
          left: 11px;
          top: 11px;
        }
      }
    }

    &--checkbox {
      .control__label {
        padding-left: 58px;

        &::after {
          top: 11px;
          left: 10px;
          width: 22px;
          height: 17px;
          background-image: url("../img/icon-tick.svg");
        }
      }
    }
  }

  .control__label {
    min-height: 40px;
    padding: 10px 0 10px 70px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}
