.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $light-dark;

  &:hover,
  &:focus {
    .copyright__logo {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  display: block;
  width: 41px;
  height: 41px;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    margin-top: 0;
    justify-content: flex-end;
  }

  .copyright__logo {
    margin-left: 16px;
  }
}
