.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: $light-dark;

  &:active,
  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__logo,
.copyright__logo-image {
  display: block;
  width: 41px;
  height: 41px;
}

.copyright__logo {
  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    margin-top: 0;
    margin-right: 15px;
  }
}
