.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $light-dark;

  &:active,
  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__link-image {
  margin-right: -7px;
}

.copyright__logo {
  width: 41px;
  height: auto;
  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }

  .copyright__link {
    margin-right: 15px;
  }
}
