.example {
  background-color: $bg-footer;
  padding-top: 17px;
  padding-bottom: 35px;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  padding-right: 13px;
  margin: 0;
  margin-bottom: 25px;
  color: $light-dark;
  font-family: "Arial", sans-serif;
  line-height: 18px;
}

.example__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.example__item {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $border-color;
  width: 124px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &--weight {
    padding: 13px 0 17px 0;
  }

  &--days {
    padding: 13px 0 15px 0;
  }
}

.example__item-text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $light-dark;
  background-color: $bg-footer;
  position: absolute;
  top: 46px;
  left: 17px;
  width: 87px;
  padding: 0 10px;
}

.example__cost {
  width: 188px;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 34px;
  font-family: $secondary-font;
}

.example__preview-wrapper {
  margin: 0 -20px;
}

.example__preview {
  position: relative;
  z-index: 1;
  width: 320px;
  height: 240px;
  margin: 0 auto;
}

.example__preview-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;

  &--after {
    z-index: -1;
  }
}

.example__preview-picture,
.example__preview-image {
  display: block;
  width: 320px;
  height: 240px;
}

.example__toggle-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.example__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: $bg-footer;

  &--before {
    margin-left: 35px;
    margin-right: 13px;
  }
}

.example__toggle-aria {
  width: 84px;
  height: 14px;
  border: 1px solid $border-color;
  border-radius: 6px;
  margin-right: 10px;
  position: relative;
}

.example__toggle {
  width: 35px;
  height: 6px;
  background-color: $green;
  position: absolute;
  top: 3px;
  left: 5px;
  border: none;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 47px;
    padding-bottom: 67px;
    background-color: transparent;
    overflow: hidden;
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 64px;
    width: auto;
    padding: 0;
  }

  .example__text {
    margin: 0 0 53px 0;
    padding: 0;
    padding-right: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__statistics {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
  }

  .example__list {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .example__item {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    margin-right: 42px;
    border-radius: 3px;
    padding: 14px 0 19px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__item-text {
    font-size: 14px;
    line-height: 14px;
    top: 62px;
    padding: 0 9px 0 8px;
    background-color: $white;

    &--weight {
      width: 114px;
      left: 23px;
    }

    &--days {
      width: 142px;
      left: 9px;
      padding: 0 6px;
    }
  }

  .example__cost {
    text-align: right;
    margin: 0;
    margin-top: 7px;
    width: 174px;
    font-size: 20px;
    line-height: 29px;
  }

  .example__preview {
    position: relative;
    width: 690px;
    height: 517px;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  .example__preview-item {
    position: absolute;
    top: 0;
    left: 7px;
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 170px;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &--before {
      width: 49%;
      box-shadow: -1000px 1170px 0 1000px #f2f2f2;

      &::after {
        background-color: #f2f2f2;
      }
    }

    &--after {
      box-shadow: 0 1170px 0 1000px #eaeaea;

      &::after {
        background-color: #eaeaea;
      }

      .example__preview-picture,
      .example__preview-image {
        position: relative;
        z-index: 1;
      }
    }
  }

  .example__preview-picture,
  .example__preview-image {
    position: relative;
    z-index: 1;
    width: 690px;
    height: 517px;
  }

  .example__toggle-wrapper {
    position: relative;
    z-index: 1;
    width: 570px;
    margin: 0 auto;
  }

  .example__button {
    font-size: 20px;
    margin: 0;
    padding: 6px 0;
    background-color: transparent;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #989898;
    }

    &--before {
      margin-right: 24px;
    }
  }

  .example__toggle-aria {
    width: 428px;
    margin: 0;
    margin-right: 21px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .example__toggle {
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-color: $white;
    top: -14px;
    left: 197px;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active,
    &:focus {
      border: 2px solid $green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &:active::after,
    &:focus::after {
      top: 11px;
      left: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 83px;
    padding-bottom: 35px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }

  .example__text-wrapper {
    position: relative;
    z-index: 100;
    width: 570px;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__text {
    padding-right: 131px;
    margin-bottom: 68px;
  }

  .example__statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .example__list {
    margin-bottom: 49px;
  }

  .example__item-text {
    background-color: $bg-footer;
  }

  .example__cost {
    text-align: left;
    width: auto;
  }

  .example__cost-indent {
    margin-left: 59px;
  }

  .example__preview {
    top: -34px;
    left: 13px;
  }

  .example__preview-item {
    &--before {
      width: 53%;
    }
  }

  .example__preview-picture {
    top: -20px;
  }

  .example__toggle-wrapper {
    top: -32px;
    left: 40px;
  }
}
