.field {
  display: flex;
  align-items: center;

  &--error {
    .field__input {
      outline: 2px solid #ff8282;

    ~ .field__icon {
        fill: #ff8282;
      }
    }
  }

  &--email,
  &--phone {
    position: relative;

    .field__label {
      margin-right: 10px;
    }

    .field__input {
      padding-right: 40px;
    }
  }

  &--email {
    .field__icon {
      right: 15px;
      width: 18px;
      height: 14px;
    }
  }

  &--phone {
    .field__icon {
      right: 12px;
      width: 21px;
      height: 21px;
    }
  }

  &--textarea {
    .field__input {
      min-height: 150px;
      resize: vertical;
      letter-spacing: -0.03px;
    }
  }
}

.field__label {
  flex-shrink: 0;
  display: block;
  margin-right: 16px;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $bg-toggle;
}

.field__input {
  flex-grow: 1;
  width: 100%;
  height: 43px;
  padding: 12px 15px;
  border: none;
  background-color: #ffffff;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 19px;
  color: $light-dark;
  text-transform: uppercase;
  outline: 1px solid #e6e6e6;
  transition-duration: 0.2s;
  transition-property: outline;

  &::placeholder {
    color: #444444;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;

    ~ .field__icon {
      fill: rgb(99, 168, 59);
    }
  }
}

.field__icon {
  position: absolute;
  top: 50%;
  display: block;
  transform: translate3d(0, -50%, 0);
}

@media (min-width: $tablet-width) {
  .field {
    &--email,
    &--phone {
      .field__label {
        margin-right: 20px;
      }

      .field__input {
        padding-right: 40px;
      }
    }

    &--phone {
      .field__label {
        margin-right: 15px;
      }
    }

    &--textarea {
      .field__input {
        min-height: 172px;
        padding: 15px 20px;
      }
    }
  }

  .field__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
  }

  .field__input {
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 18px;
  }
}

@media (min-width: $tablet-width) {
  .field {
    &--email,
    &--phone {
      .field__label {
        margin-right: 24px;
      }

      .field__input {
        padding-right: 40px;
      }

      .field__icon {
        right: 18px;
      }
    }

    &--phone {
      .field__label {
        margin-right: 18px;
      }
    }
  }
}