.field {
  display: flex;
  align-items: center;
  position: relative;

  &--email,
  &--phone {
    position: relative;
  }

  &--email {
    .field__label {
      margin-right: 11px;
    }

    .field__icon {
      right: 15px;
      width: 18px;
      height: 14px;
    }
  }

  &--phone {
    .field__label {
      margin-right: 9px;
    }

    .field__icon {
      right: 12px;
      width: 21px;
      height: 21px;
    }
  }
}

.field__label {
  flex-shrink: 0;
  display: block;
  margin-right: 15px;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $bg-toggle;
}

.field__input {
  width: 100%;
  height: 45px;
  padding: 14px 40px 14px 14px;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $light-dark;
  outline: none;
  border: 1px solid $border-color;

  &:hover {
    border: 1px solid $border-color;
  }

  &:active,
  &:focus {
    ~ .field__icon {
      color: rgb(99, 168, 59);
    }
    border: 1px solid $light-dark;
  }

  &:invalid {
    ~ .field__icon {
      color: $field-error;
    }
  }

  &--error {
    &:invalid {
      border-color: $field-error;
    }
  }
}

.field__icon {
  position: absolute;
  top: 50%;
  display: block;
  transform: translate3d(0, -50%, 0);
  color: #222222;
}


@media (min-width: $tablet-width) {
  .field {
    &--email {
      .field__label {
        margin-right: 20px;
      }
    }

    &--phone {
      .field__label {
        margin-right: 14px;
      }
    }
  }

  .field__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
  }

  .field__input {
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field {
    &--email {
      .field__icon {
        right: 19px;
      }
    }

    &--phone {
      .field__icon {
        right: 18px;
      }
    }
  }
}
