.form {
  padding-top: 27px;
  padding-bottom: 15px;
  overflow: hidden;
}

.form__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0 20px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__info {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;

  &--basic {
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
  }

  &--goal {
    margin-bottom: 29px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;

    .form__item {
      margin-bottom: 12px;
    }
  }

  &--contact-data {
    margin-bottom: 29px;

    .form__legend-inner {
      display: inline-block;
      width: 183px;

      &::after {
        top:14px;
      }
    }
 }

  &--comment {
    margin-bottom: 28px;
  }

  &--additional-info {
    .form__item {
      margin-bottom: 12px;
    }
  }
}

.form__legend {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  margin-left: -20px;
  padding-left: 20px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
}

.form__legend-inner {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 13px;
    left: -20px;
    right: -20px;
    z-index: -1;
    height: 10px;
    background-color: #ffffff;
  }

  &::after {
    top: 20px;
    left: -9999px;
    right: -9999px;
    z-index: -2;
    height: 3px;
    background-color: $green;
  }
}

.form__list {
  @include reset-list;
}

.form__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__footer {
  margin-top: 35px;
  padding: 0 20px;
}

.form__button {
  width: 100%;
}

.form__footnote {
  margin-top: 19px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 33px;
    padding-bottom: 72px;
  }

  .form__content {
    padding: 0 38px 0 40px;
  }

  .form__title {
    margin-bottom: 55px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .form__info {
    margin-bottom: 65px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset {
    padding: 0;

    &--basic {
      margin-bottom: 73px;
      padding: 0;
      border-bottom: none;
    }

    &--goal {
      margin-bottom: 73px;
      padding: 24px 28px 15px;
      border: 1px solid #ededed;

      .form__item {
        margin-bottom: 12px;
      }
    }

    &--contact-data {
      margin-bottom: 65px;

      .form__legend-inner {
        display: inline;
        width: auto;

        &::after {
          top: 32px;
        }
      }
   }

    &--comment {
      margin-bottom: 66px;
    }

    &--additional-info {
      .form__legend {
        margin-bottom: 57px;
      }

      .form__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -60px;
      }

      .form__item {
        width: 305px;
        margin-right: 40px;
        margin-bottom: 32px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .form__legend {
    margin-bottom: 77px;
    margin-left: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__legend-inner {
    &::before {
      top: 25px;
      left: -40px;
      right: -40px;
    }

    &::after {
      top: 32px;
      height: 3px;
    }
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 22px;
    padding: 0;
  }

  .form__button {
    width: 285px;
    margin-right: 60px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__footnote {
    margin: 0;
    width: calc(100% - 345px);
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 20px;
    padding-bottom: 82px;
  }

  .form__content {
    padding: 0;
  }

  .form__top-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 68px;

    .form__fieldset {
      width: calc(50% - 40px);
      margin-right: 80px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .form__title {
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .form__info {
    margin-bottom: 65px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset {
    &--basic {
      margin-bottom: 0;
    }

    &--goal {
      margin-bottom: 0;
      padding: 24px 28px 12px;

      .form__item {
        margin-bottom: 13px;
      }
    }

    &--contact-data {
      margin-bottom: 46px;

      .form__list {
        display: flex;
        flex-wrap: wrap;
      }

      .form__item {
        width: calc(50% - 40px);
        margin-right: 80px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      .form__legend-inner {
        display: inline;
        width: auto;
      }
   }

    &--additional-info {

      .form__legend {
        margin-bottom: 57px;
      }

      .form__list {
        margin-right: 0;
      }

      .form__item {
        width: 285px;
        margin-right: 40px;
        margin-bottom: 32px;

        &:nth-child(2n) {
          margin-right: 40px;
        }

        &:nth-child(4n) {
          width: 240px;
          margin-right: 0;
        }
      }
    }
  }

  .form__footer {
    margin-top: 30px;
  }

  .form__button {
    width: 570px;
    margin-right: 83px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__footnote {
    width: calc(100% - 653px);
  }
}
