.form {
  overflow: hidden;
}

.form__wrapper {
  padding: 0 20px;
}

.form__info {
  display: block;
  padding-right: 20px;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form__item {
  padding: 0;
  margin: 19px 0;
  border: none;

  &--basic {
    border-bottom: 1px solid #ededed;
    padding-bottom: 23px;
  }

  &--goal {
    margin: 0;
    padding-bottom: 19px;
    border-bottom: 1px solid #ededed;
  }

  &--contact-data {
    margin: 28px 0 29px 0;
  }

  &--additional-info {
    margin-bottom: 36px;
  }
}

.form__comment {
  margin: 0;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

.form__item-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  display: inline-block;

  position: relative;
  background-color: $white-colour;

  &::after {
    content: "";
    min-width: 100vw;
    height: 3px;
    background-color: $bg-leaf;
    position: absolute;
    z-index: -1;
  }

  &--contact-data {
    width: 201px;
  }

  &--contact-data::after {
    top: 14px;
  }

  &--additional-info {
    width: 164px;
  }

  &--additional-info::after {
    top: 15px;
  }
}

.form__comment-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;
  display: inline-block;
  position: relative;
  background-color: $white-colour;
  width: 142px;

  &::after {
    content: "";
    min-width: 100vw;
    height: 3px;
    background-color: $bg-leaf;
    position: absolute;
    top: 13px;
    z-index: -1;
  }
}

.form__item-list {
  @include reset-list;
}

.form__item-option {
  margin-bottom: 14px;

  &--additional-info {
    justify-content: flex-start;
    margin-bottom: 12px;
    min-height: 30px;
  }

  &--goal {
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__comment-aria {
  font-size: 16px;
  line-height: 18px;
  color: $light-dark-colour;
  height: 150px;
  border: 1px solid $borderOfProduct;
  text-transform: uppercase;
  padding: 12px 13px 15px 14px;
  outline: none;

  &:hover {
    border: 1px solid $borderOfProduct;
  }

  &:active,
  &:focus {
    border: 1px solid $light-dark-colour;
  }
}

.form__comment-aria::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: $light-dark-colour;
}

.form__button {
  width: 100%;
  border: none;
  margin-bottom: 21px;
}

.form__required-field {
  width: 157px;
  margin: 0 auto 32px auto;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: $light-dark-colour;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 72px;
  }

  .form__wrapper {
    padding: 0 40px;
  }

  .form__info {
    width: auto;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 66px;
    padding-right: 250px;
  }

  .form__item {
    border: none;

    &--basic {
      padding-bottom: 0;
      margin: 0;
      margin-bottom: 72px;
    }

    &--goal {
      margin: 0;
      margin-bottom: 71px;
      border: 1px solid $borderOfProduct;
      padding: 25px 0 33px 0;
    }

    &--contact-data {
      margin: 0 0 65px 0;
    }

    &--additional-info {
      margin-bottom: 57px;
    }
  }

  .form__item-title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 39px;
    margin-left: -40px;
    width: auto;

    &::before {
      content: "";
      min-width: 100vw;
      height: 3px;
      background-color: $bg-leaf;
      position: absolute;
      left: -500px;
      top: 22px;
      z-index: -1;
    }

    &--contact-data {
      margin-bottom: 73px;
      width: auto;
      padding-right: 42px;
    }

    &--contact-data::after {
      top: 22px;
    }

    &--additional-info {
      margin-bottom: 55px;
      width: auto;
      padding-right: 42px;
    }

    &--additional-info::after {
      transform: translateY(0%);
      top: 22px;
    }
  }

  .form__item-list-additional-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .form__comment {
    margin-bottom: 65px;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    width: 259px;
    padding-left: 39px;
    padding-right: 40px;
    margin-left: -40px;

    &::before {
      content: "";
      min-width: 100vw;
      height: 3px;
      background-color: $bg-leaf;
      position: absolute;
      top: 22px;
      left: -70px;
      z-index: -1;
    }

    &::after {
      top: 22px;
    }
  }

  .form__comment-aria {
    font-size: 20px;
    line-height: 20px;
    height: 174px;
    padding: 14px 13px 15px 18px;
  }

  .form__comment-aria::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .form__item-option {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    &--goal {
      margin-bottom: 13px;
    }

    &--data {
      margin-bottom: 23px;
    }

    &--additional-info {
      width: 250px;
      margin-bottom: 31px;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    &--additional-info:nth-child(2),
    &--additional-info:last-child {
      margin-left: 94px;
    }

    &--additional-info:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .form__send-row {
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 283px;
    font-size: 20px;
    padding: 16px 10px;
    margin-bottom: 0;
    margin-right: 62px;
  }

  .form__required-field {
    font-size: 16px;
    margin: 0;
    margin-top: -4px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 82px;
  }

  .form__info {
    padding-right: 850px;
  }

  .form__wrapper {
    padding: 0;
  }

  .form__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
  }

  .form__item {
    &--basic,
    &--goal {
      width: 570px;
      margin-bottom: 0;
    }

    &--contact-data {
      margin-bottom: 67px;
    }

    &--additional-info {
      margin-top: 0;
      margin-bottom: 61px;
    }
  }

  .form__item-title,
  .form__comment-title {
    &::before {
      left: -1000px;
    }
  }

  .form__item-list {
    &--data {
      display: flex;
      align-items: center;
    }
  }

  .form__item-list-additional-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__item-option {
    &--data {
      margin-bottom: 0;
      margin-right: 78px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--additional-info {
      margin: 0;
      width: 245px;
    }

    &--additional-info:nth-child(2n),
    &--additional-info:last-child {
      margin: 0;
    }
  }

  .form__item-option--data:nth-of-type(2) .field__input--contact-data {
    width: 472px;
  }

  .form__comment {
    margin-bottom: 67px;
  }

  .form__button {
    width: 568px;
    margin-right: 83px;
  }
}
