.main-navigation {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main-navigation__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    position: static;
    display: block;
    width: auto;
  }
}
