.navigation {
  display: none;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navigation__list {
  @include reset-list;
  text-align: center;
}

.navigation__item {
  border-bottom: 1px solid #e6e6e6;
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.navigation__link {
  display: block;
  color: $text-color;
  background-color: $white;
  text-transform: uppercase;
  padding: 23px 10px 22px 10px;

  &:hover,
  &:focus {
    color: rgba($text-color, 0.6);
  }

  &:active {
    color: rgba($text-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    position: static;
    display: block;
    width: auto;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item {
    margin-right: 36px;
    border: none;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      pointer-events: none;
      border-bottom: 2px solid $green;
    }
  }

  .navigation__link {
    padding: 7px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $bg-toggle;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .navigation__item {
    margin-right: 34px;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 25px;
  }

  .navigation__list--white {
    .navigation__item {
      &--active {
        border-bottom: 2px solid $white;
      }
    }

    .navigation__link {
      color: #ffffff;

      &:hover,
      &:focus {
        color: rgba(#ffffff, 0.6);
      }

      &:active {
        color: rgba(#ffffff, 0.3);
      }
    }
  }
}
