.promo__wrapper {
  padding: 0 20px 22px 20px;
}

.promo__header {
  min-height: 306px;
  padding-top: 27px;
  margin: 0 -20px 0 -20px;
  background-color: #63a73a;
  background-image: url("../img/mobile/index-background-mobile@x1.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/mobile/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: $white;
  line-height: 36px;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.promo__picture {
  width: 280px;
  height: 270px;
  margin: -140px auto 4px auto;
  position: relative;
  z-index: 1;
}

.promo__picture-image {
  width: 280px;
  height: 270px;
}

.promo__link {
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 10px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 90px;
  }

  .promo__header {
    min-height: 1px;
    padding-top: 0;
    width: auto;
    position: static;
    left: auto;
    right: auto;
    margin: 0;
    margin-top: 33px;
    background: none;
  }

  .promo__title {
    width: 414px;
    margin-bottom: 41px;
    margin-left: -3px;
    font-size: 60px;
    line-height: 60px;
    color: $text-color;
    text-align: left;
  }

  .promo__slogan {
    margin: 0;
    margin-left: -2px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
    text-align: left;
  }

  .promo__picture {
    margin: 0;
    order: 1;
    width: 709px;
    height: 609px;
    margin-left: -91px;
    margin-top: -80px;
  }

  .promo__picture-image {
    width: 709px;
    height: 609px;
  }

  .promo__link {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: -1px;
    width: 245px;
    padding: 16px 10px 16px 4px;

    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../img/desktop/index-background-desktop@1x.jpg"), linear-gradient(#64a83b, #64a83b);
    background-size: auto 97%, 50% 100%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: -187px;
    margin-bottom: 79px;
    padding-top: 27px;
    position: relative;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop/index-background-desktop@2x.jpg"), linear-gradient(#64a83b, #64a83b);
      background-size: auto 97%, 50% 100%;
    }
  }

  .promo__wrapper {
    padding-left: 80px;
    position: relative;
  }

  .promo__title {
    margin-top: 179px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }

  .promo__picture {
    margin: 0;
    order: 1;
    width: 552px;
    height: 499px;
    position: absolute;
    top: 130px;
    right: 218px;
  }

  .promo__picture-image {
    width: 552px;
    height: 499px;
  }

  .promo__link {
    margin-bottom: 190px;
  }
}
