.social {
  display: flex;
  justify-content: center;
}

.social__list {
  @include reset-list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &--vk {
    .social__icon {
      width: 22px;
      height: 12px;
    }
  }

  &--insta {
    .social__icon {
      width: 17px;
      height: 17px;
    }
  }

  &--fb {
    .social__icon {
      width: 10px;
      height: 19px;
    }
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &:hover {
    .social__icon {
      fill: $green;
    }
  }

  &:active,
  &:focus {
    .social__icon {
      fill: $green;
      opacity: 0.3;
    }
  }
}

.social__icon {
  display: block;
  fill: $academy-icon-color;
}


@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0;
    margin: 0;
  }

  .social__list {
    margin-left: -15px;
    padding: 0;
    border: none;
  }

  .social__item {
    &--vk {
      margin-right: 26px;

      .social__icon {
        width: 30px;
        height: 16px;
      }
    }

    &--insta {
      margin-right: 16px;

      .social__icon {
        width: 23px;
        height: 23px;
      }
    }

    &--fb {
      .social__icon {
        width: 14px;
        height: 28px;
      }
    }
  }

  .social__link {
    width: 30px;
    height: 30px;
  }
}
