$bg-footer-colour: #f2f2f2;
$bg-leaf: #68b738;
$white-colour: #ffffff;
$dark-colour: #111111;
$light-dark-colour: #444444;
$btn-show-all-colour: $bg-footer-colour;
$bg-toggle: #222222;
$borderOfProduct: #cdcdcd;
$bg-colour-gift: #73b74a;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet-width: 768px;
$desktop-width: 1300px;

/* forms */
$field-error: #ff8282;
