/* colours */
$bg-footer: #f2f2f2;
$green: #68b738;
$green-2: #73b74a;
$white: #ffffff;
$dark: #111111;
$light-dark: #444444;
$btn-show-colour: $bg-footer;
$bg-toggle: #222222;
$borderOfProduct: #cdcdcd;
$field-error: #ff8282;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet-width: 768px;
$desktop-width: 1300px;
