/* backgrounds */
$bg-footer: #f2f2f2;
$bg-leaf: #68b738;
$white: #ffffff;
$dark: #111111;
$light-dark: #444444;
$btn-show-colour: $bg-footer;
$bg-toggle: #222222;
$borderOfProduct: #cdcdcd;
$bg-colour-gift: #73b74a;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet-width: 768px;
$desktop-width: 1300px;

/* forms */
$field-error: #ff8282;
